.git
.venv
.env
__pycache__
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.pytest_cache/
temp_files/
temp.html
temp.py
temp.txt
temp2.py
lectures.json
lectures_data.json
ssh-key-2025-11-25.key
ssh-key-2025-11-25.key.pub
uv.lock
