beautifulsoup4>=4.14.2
requests>=2.32.5
google-genai>=1.52.0
lxml>=6.0.2
python-dotenv>=1.2.1
selenium>=4.38.0
google-cloud-storage>=3.6.0
flask>=3.1.2
gunicorn>=23.0.0
gspread>=6.2.1
google-auth>=2.43.0